<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/aop
 http://www.springframework.org/schema/aop/spring-aop.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">


    <bean id="jdbcDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName">
            <value>org.gjt.mm.mysql.Driver</value>
        </property>
        <property name="url">
            <value>jdbc:mysql://localhost:3306/artclub?useUnicode=true&amp;characterEncoding=UTF-8</value>
        </property>
        <property name="username">
            <value>root</value>
        </property>
        <property name="password">
            <value>123456</value>
        </property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="jdbcDataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>

    </bean>

    <!--工程表-->

    <!--<bean id="x_node_control" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.artclub.dao.x_node_nameMapper"></property>-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean id="x_role_control" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.artclub.dao.x_role_nameMapper"></property>-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean id="x_user_control" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.artclub.dao.x_user_nameMapper"></property>-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean id="user_role_relcontrol" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.artclub.dao.user_role_relMapper"></property>-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->
    <!--<bean id="role_node_relcontrol" class="org.mybatis.spring.mapper.MapperFactoryBean">-->
        <!--<property name="mapperInterface" value="com.artclub.dao.role_node_relMapper"></property>-->
        <!--<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>-->
    <!--</bean>-->
    <bean id="ac_user" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_userMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_news" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_newsMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_teacher" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_teacherMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_comments" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_commentsMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_relationships" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_relationshipsMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_course" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_courseMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_student_course" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_student_courseMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_course_object" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_course_objectMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_teacher_course" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_teacher_courseMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>

    <bean id="ac_resume" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_resumeMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>

    <bean id="ac_company" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_companyMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_objectCourse" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_objectCourseMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_course_video" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_course_videoMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_studentvideo" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_studentvideoMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_video_assess" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_video_assessMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_order" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_orderMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    <bean id="ac_message" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.artclub.dao.ac_messageMapper"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="jdbcDataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- 支持文件上传 -->


    <!--        开启注解扫描
                    到包里扫描类 方法 属性上的注解
                    <context:component-scan></context:component-scan>只扫描属性-->

    <!--        <context:component-scan base-package="SpringTest"></context:component-scan>-->
    <!--   AOP    -->
    <!--    <bean id="javaEE" class="SpringTest.javaEETeacher"></bean>
        <bean id="student" class="SpringTest.example"></bean>
        <aop:config>
            &lt;!&ndash;1.配置切入点&ndash;&gt;
                <aop:pointcut expression="execution(* SpringTest.javaEETeacher.*(..))" id="point1"/>
            &lt;!&ndash;2.配置切面&ndash;&gt;
                <aop:aspect ref="student">
                    &lt;!&ndash;前置增强     增强类中的方法        切入点&ndash;&gt;
                    <aop:before method="ask" pointcut-ref="point1"/>
                    <aop:after method="thank" pointcut-ref="point1"/>
                    <aop:around method="around1" pointcut-ref="point1"/>
                </aop:aspect>
        </aop:config>-->


    <!--<bean id="Student" class="SpringTest.example>
        <property name="name">
            <value>1</value>
        </property>
        <constructor-arg ref="javaEETeacher" type="SpringTest.Teacher"/>
        <constructor-arg ref="javaTeacher" type="SpringTest.Teacher"/>
       &lt;!&ndash; <property name="teacher" ref="javaEETeacher"></property>&ndash;&gt;
    </bean>

    <bean id="javaTeacher" class="SpringTest.JavaTeacher">
        <property name="name">
            <value>zwh</value>
        </property>
    </bean>
    <bean id="javaEETeacher" class="SpringTest.javaEETeacher">
        <property name="name">
            <value>zmx</value>
        </property>
    </bean>-->

</beans>